* {
  padding: 0;
  margin: 0;
}
/* waarom werkt het niet */
body{
  background-color: rgb(33, 33, 33);
}

ul{
  list-style-type: none;
  overflow: hidden;
  margin-left: 60px;

}

.header{
  /* overflow: hidden;  ;;  float: left;*/
  text-align: center;
  padding-top: 20px;
  height: 70px;
  background-color: rgb(160, 40, 40);
}

.pr_row1, .pr_row2, .pr_row3{
  margin-top: 50px;
  margin-bottom: 50px
}


.pr_row1 ul li{
  align: center;
  float: left;
  margin-left: 80px;
  margin-right: 80px;
}

.pr_row2 ul li{
  align: center;
  float: left;
  margin-left: 80px;
  margin-right: 80px;
}

.pr_row3 ul li{
  align: center;
  float: left;
  margin-left: 80px;
  margin-right: 80px;
}

footer{
  background-color: #2277aa;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}
